#General modules
django >3.2,<3.3
python-decouple
pillow

djangorestframework

#third party module
markdown       
django-filter
drf-yasg[validation]

#deployment module

# email third party module
django-mail-templated
